.footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: var(--footer-size);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 2px dotted var(--dark-blue);
    border-radius: 10px;

    background-color: var(--almost-white);
    box-shadow: var(--shadow);
    /* border: 1px solid red; */

    /* margin-top:auto; */
}


.footer__left {
    text-align: center;
    /* border: 1px solid red; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
}

.footer__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px
}

@media screen and (max-width: 600px) {
    /* .footer {
        position: static;
        padding-top: 20px;
        margin-top: 20px;
    } */

    .footer__right {
        justify-content: space-between;
    }
}

@media screen and (max-height: 500px) {
    .footer {
        position: static;
        /* padding-top: 20px; */
        /* margin-top: 20px; */
    }

    body {
        margin-bottom: 0;
    }

}

.footer__right-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer__right-entry_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.footer__made-with-love {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.footer__name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--dark-blue);
}

.footer__name a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--dark-blue);
}

.footer__name a:active {
    color: var(--light-blue);
}

.footer__name:hover {
    color: red;
}

.footer__right-entry_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 30px;
    height: 30px;
    padding: 10px 10px;
}