.content {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--footer-size);
}

.content__no_llm {
  flex-direction: column-reverse;
}


.content__left {
  flex: 0.2;
  padding: 20px;
  /* border: 1px solid blue; */

}

.content__right {
  flex: 0.8;
  padding: 20px;
  /* border: 1px solid green; */
}

.content__right-no_llm {
  margin: 0 auto;
  /* flex-grow: 1; */
}


@media screen and (max-width: 600px) {
  .content {
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }

  .content__left {
    flex: 1;
  }

  .content__right {
    flex: 1;
  }
}